<header class="headerdispositivo"> 
   <h1 class="headertitleGH">Bienvenido al sistema de monitoreo de fumigaci&oacute;n</h1>
   <%= image_tag 'paloverdelogo.png', class: 'iconpv' %> 
</header>     
   <body class="bodydevices">
   <div class="containerdevice">
     <button id="btnregresa">Regresar</button>
     <label id='lbdevice'>Dispositivo: </label>
     <label id='lbdevice'>* identificador device *</label>    
     <div class="busquedadevice">
      <input type="search" id="dispositivosearchinput" name="q" placeholder="Buscar dispositivo">
      <button id="btnsearch">Buscar</button>  
     <div >
   </div>
   <div id="container">
   </div>
   <div class="catalogodispositivos">
   
   </div>
</body>
