

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   
<div class="wrapper fadeInDown">
 <h2>Inicio de sesion</h2>
  <div id="formContent">
  <p>
    <div wrapper fadeInDown="field" class="fadeIn second">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Login" %>
    </div>
    <div class="fadeIn second"> 
      <%= f.password_field :password, autocomplete: "current-password",  placeholder:"Password"%>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="fadeIn third">
      </div>
    <% end %>
    <div class="fadeIn fourth" >
      <%= f.submit "Log in" %>
    </div>
    </div>
    </div>
  <% end %>

