  body {
      flex-direction: column;
      background: #ffffff;
  }
  h1.headertitle{
    text-align: center;
    font-size: 20px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding-top: 30px;
  }
  header{ 
    text-align: center;
  }
  h1.headercompany{ 
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  #pvlogo{
    width: 5%; 
}

  .imgrecorrido{
      width: auto;
      height: auto;
      border-width: 1px;
      overflow:scroll;
      /*  border-style: solid;
      border-color: black;*/
  }
  #recorridoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    -webkit-animation: reveal 2s ease;
    -webkit-animation-fill-mode: backwards;
  }

  @-webkit-keyframes reveal {
    0%   {width: 0px;}
    5% { width: 5%;}
}
@keyframes reveal {
    0%   {width: 0px;}
    5% { width: 5%;}
}
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  .labesinrow{
    display: inline-block;
    width: 100%;  
    text-align: center;
  } 
  .containerbtn{
    width: 100%;  
    float: left;
    text-align: center;
  }
  .containerbtn button{
    display: inline-block;
  }

  button{
    background: rgb(255, 255, 255); 
    font-size: 25px;
    color:rgb(0, 0, 0 );
    transition: all 0.2s;
    text-align: center;
    margin: auto;
    padding: auto;
    border-radius: 10px;
  }

  #btnback:hover,#btnhome:hover,#btnnext:hover{
      background-color: rgb(225, 214, 65);
  }

  #btnback{
    float:left;
    margin-left: 15px;
    //position: relative;
  }

  #btnnext{
  float: right;
  margin-right: 20px; 
  }

  #lgreenhouse{
    float: left;
    margin-left: 30px;
  }
  #lgreenhousechange{
    float: left;
  }
  #ldate{
    margin-right: 30px;

  }
  #ldatechange{
    margin-right: 90px;
  }
  #lcubot{
    float: right;
  }
  #lcubotchange{
    float: inline-end;    
  }