  body {
      flex-direction: column;
      background: #ffffff;
  }

  h1.headertitle{
    text-align: center;
    font-size: 20px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding-top: 30px;
  }

  header{ 
    text-align: center;
  }

  h1.headercompany{ 
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  #pvlogo{
    width: 5%; 
  }

  .imgrecorrido{
      width: 100%;
      height: auto;
      /*  border-style: solid;
      border-color: black;*/
  }

  #recorridoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-animation: reveal 2s ease;
    -webkit-animation-fill-mode: backwards;
    border-style: solid;
    border-color: red;
  }

  @-webkit-keyframes reveal {
    0%   {width: 0px;}
    5% { width: 5%;}
  }
  @keyframes reveal {
    0%   {width: 0px;}
    5% { width: 5%;}


  .labesinrow{
    display: inline-block;
    width: 100%;  
    text-align: center;
  }

  .containerbtn{

  }

  button{
    background: rgb(255, 255, 255); 
    font-size: 25px;
    color:rgb(0, 0, 0 );  
    border-radius: 10px;
  }

  #btnback:hover,#btnhome:hover,#btnnext:hover{
      background-color: rgb(225, 214, 65);
  }

  #btnback{
    position: absolute;
    bottom: 0px;
    left: 16px;
    font-size: 18px;
    }
   #btnhome{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
   }
  
  
    #btnnext{
    position: absolute;
    bottom: 0px;
    right: 16px;
    font-size: 18px;
  
    }

  #lgreenhouse{
    float: left;
    margin-left: 30px;
  }
  #lgreenhousechange{
    float: left;
  }
  #ldate{
    margin-right: 30px;

  }
  #ldatechange{
    margin-right: 90px;
  }
  #lcubot{
    float: right;
  }
  #lcubotchange{
    float: inline-end;    
  }

