body {
  flex-direction: column;
  background: #ffffff;
}
.texthead{
  text-align: center;
}

h1.elements{
  text-align: center;
  font-size: 20px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding-top: 30px;
}
.elements{
  text-align: center;
}
header{ 
  text-align: center;
}

h1.headercompany{ 
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

#pvlogo{
  width:5%; 
}
#pvlogoicon{
  width:20%; 
}

.imgrecorrido{
  width: 100%;
  height: auto;
  /*  border-style: solid;
  border-color: black;*/
}

#recorridoimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -moz-animation: reveal 1s ease;
  -webkit-animation-fill-mode: backwards;
}

@-webkit-keyframes reveal {
  0%   {width: 0px;}
  5% { width: 5%;}
}
@keyframes reveal {
  0%   {width: 0px;}
  5% { width: 5%;}
}

.labesinrow{
  display: inline-block;
  width: 100%;  
  text-align: center;
}


button{
  background: rgb(255, 255, 255); 
  font-size: 25px;
  color:rgb(0, 0, 0 );  
  border-radius: 10px;
}

#btnback:hover,#btnhome:hover,#btnnext:hover{
  background-color: rgb(225, 214, 65);
}

#btnback{
  
  position: fixed;
  margin-left: 40px;
  bottom: 20px;
  font-size: 10px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #000000; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  padding: 10px 15px; /* Relleno del boton */
}


#btnnext{
  font-size: 10px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #000000; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  padding: 10px 15px; /* Relleno del boton */
  position: fixed;
  margin-right: auto;
  bottom: 20px;
  right: 40px;

}


#ldate{
 float: left;
 margin-left: 15px;

}
#lcubot{
  float: right;
  margin-right: 15px;
}

.containerdatepicker{
  float: left;
}