  <div id="recorrido">
      <header> 
            <h1 class="headertitleGH">Bienvenido al sistema de monitoreo de fumigaci&oacute;n</h1>
            <%= image_tag("paloverdelogo.png", {:style => "width:5%;"}) %> 
            
              </div>
      </header>
