  <div id="recorrido">
      <header> 
            <h1 class="headertitleGH">Bienvenido al sistema de monitoreo de fumigaci&oacute;n</h1>
            <%= image_tag 'paloverdelogo.png', class: 'iconpv' %> 
            <div class="containerheader">
               <button id="btnregresa">Regresar</button>
               <label id='companyname'></label>  
            </div>   
      </header>
