.headerdispositivo{ 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-color: red;
  }

.iconpv{
    width: 5%;
    float: center;
  }

  .containersearch{
    float: left;
    width: 100%;
    border-style: solid;

  }

  .col-sm{
    width: 32.5%;
    float: left;
    border-style: solid;
  }

  #btnsearch{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border-color: black;
  }