.headerdispositivo{ 
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  text-align: center;
  //border-style: solid;
  //border-color: red;
}

.iconpv{
  width: 5%;
  float: center;
}

.containersearch{
  float: left;
  width: 100%;
  //@include: solid;

}

.col-sm{
  width: 100%;
  float: left;
  border-style: solid;
  width: 24%;
  margin-left: 5px;
  margin-right: 1px;
  margin-top: 5px;
}
.catologcontainer{
  width: 100%;
  //border-style: solid;
  //border-color: blue;
  float: left;
}


.btn-search{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border-color: black;
}

#letterth{
  font-size: 15px;
}