  <div id="recorrido">
      <header> 
            <%= image_tag 'paloverdelogo.png', id: 'pvlogo' %> 
            <h1 class="headertitle">Recorrido</h1>
            <h1 class="headercompany">Compañia</h1>
            <div class="labelsinrow">
                <label id="lgreenhouse">Invernadero: </label>
                <label id="lgreenhousechange">lgreenhousechange</label>
                <label id="ldate">Fecha y hora: </label>
                <label id="ldatechange">ldatechange</label>
                <label id="lcubotchange">lcubotchange</label>
                <label id="lcubot">Cubot: </label>
              </div>
      </header>
     <body>      
        <div class="imgrecorrido">
         <article>
         <%= image_tag 'recorrido1.png', id: 'recorridoimg' %>
         </article>
         </div>
      </body>   
      <footer>
      <div class="containerbtn">
         <button id="btnback">Anterior</button>
         <button id="btnhome">Principal</button>
         <button id="btnnext">Siguiente</button>
      </div>   
      </footer>
  </div>