
  <div id="recorrido">
    <body>
      <header> 
            <%= image_tag("PaloVerde.png", {:style => "width:5%;"}) %>
            <h1 class="headertitle">Recorrido</h1>
            <h1 class="headercompany">Compañia</h1>
             <div class="labelsinrow">
                <span><label id="lgreenhouse">Invernadero: </label></span>
                <span><label id="lgreenhousechange">lgreenhousechange</label></span>
                <span><label id="ldate">Fecha y hora: </label></span>
                <span><label id="ldatechange">ldatechange</label></span>
                <span><label id="lcubotchange">lcubotchange</label></span> 
                <span><label id="lcubot">Cubot: </label></span>
             </div>
      </header>
     <body>      
        <div class="imgrecorrido">
         <article>
         <%= image_tag("recorrido.png", {:style => "width:100%;"}) %>
         </article>
         </div>
      </body>   
      <footer>
         <button id="btnback">Anterior</button>
         <button id="btnhome">Principal</button>
         <button id="btnnext">Siguiente</button>
      </footer>
    </body>
  </div>