<header >
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-dateti  mepicker.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
</header>
<body>    
   <div class="texthead"> 
    <h1 id="headertitle">Recorrido</h1>
    <h1 id="headercompany">Compañia</h1>
   </div> 
   <div class='datepcker'>
   </div>
    <div class="container"> 
        <%= form_tag(routesdate_path(:searchdate)) do %>
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' name="searchdate" class="form-control" placeholder='Fecha'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <br>
                        <%= button_tag(type: 'submit', class: "btn-search styletipo", :searchdate => nil) do %> Buscar  <i class="fas fa-search"></i>
                        <% end %>
                    </div>
                </div>  
            </div> 
        <% end %>
    </div>    
    <div class="labelsinrow">
        <!--label id="lgreenhouse">Invernadero: </label>
        <label id="lgreenhousechange">lgreenhousechange</label-->
        <label id="ldate">Fecha y hora: </label>
        <label id="ldatechange">ldatechange</label>
        <label id="lcubotchange">lcubotchange</label>
        <label id="lcubot">Cubot: </label>
    </div>  
    <div class="imgrecorrido">
        <article>
         <%= image_tag (@datesroutes.image, id:"imgroute")%>
        </article>
        <div class="containerbtn">
            <button id="btnback" ><i class="fas fa-arrow-left "></i> Anterior</button>
            <button id="btnnext"> Siguiente <i class=" fas fa-arrow-right"> </i></button>
        </div> 
    </div> 
</body>
<script type="text/javascript">
    $(document).on("turbolinks:load", function(){ 
        $('#datetimepicker1').datetimepicker({format: 'DD/MM/YYYY'});
    });
</script>