<h1>Editing Agricultural Company</h1>

<%= render 'form', agricultural_company: @agricultural_company %>

<%= link_to 'Show', @agricultural_company %> |
<%= link_to 'Back', agricultural_companies_path %>
